.title-name {
    text-align: center;
}

#item {
    margin-left: 40%;
}

#add {
    background: contain;
    padding-bottom: 0px;
    position: relative;
    bottom: 0px;
}

#content-container {
    position: relative;
    left: 40%;
}

.bottom-button {
    position: relative;
    left: 40%;
}

.item_chk {
    margin-left: -38px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 64px;
}

.text {
    margin-left: 65px;
    align-content: center;
}

input {
    text-align: center;
}